:root {
    --font-white: #FFF;
    --font-primary: #0473E3;
    --font-gray: #696969;
    --font-red: #E31504;
}

h1 {
    font-size: 70px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 33px;
}

h4 {
    font-size: 22px;
    font-weight: 400;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

h6 {
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 18px;
    }
}

/* COLOR */
.fontWhite {
    color: var(--font-white)
}

.fontPrimary {
    color: var(--font-primary);
}

.fontGray {
    color: var(--font-gray)
}

.fontRed {
    color: var(--font-red)
}

/* WEIGHT */
.fontW300 {
    font-weight: 300;
}

.fontW400 {
    font-weight: 400;
}

.fontW500 {
    font-weight: 500;
}

.fontW600 {
    font-weight: 600;
}

/* SIZE */
.fontSmall {
    font-size: 11px;
}

/* ALIGN */
.fontCenter {
    text-align: center;
}